* {
  margin: 0;
  padding: 0;
}

.container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: space-around;
}

.header {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  font-size: 16px;
  background-color: gray;
  gap: 10px;
}

h3 {
  background-color: black;
  color: white;
  padding: 24px;
  border-radius: 5px;
  width: 200px;
  text-align: center;
}

.play {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

#goal {
  background-color: green;
  color: white;
  padding: 20px;
  width: 200px;
  text-align: center;
  font-size: 36px;
  font-weight: bold;
}

#current-score {
  background-color: green;
  color: white;
  font-size: 24px;
}

button {
  padding: 24px;
  background-color: black;
  color: yellow;
  font-size: 24px;
  width: 200px;
  border-radius: 8px;
}
button:hover {
  background-color: tomato;
  color: white;
}

#message {
  text-align: center;
  background-color: black;
  color: white;
  font-size: 36px;
  padding: 10px;
}

.demo {
  display: none;
}

.board h1 {
  text-align: center;
}

#scoreBoard {
  display: flex;
  gap: 20px;
  justify-content: center;
  flex-wrap: wrap;
  margin: 0 50px;
  margin-top: 20px;
}

.box {
  display: inline-block;
  height: 50px;
  width: 50px;
  background-color: red;
  border-radius: 50%;
}
